In [ ]:
# TO CLEAR DATABASE OF 'USERS' TABLE
import pymysql.cursors

testcon = pymysql.connect(host='localhost',
                         user='root',
                         password='testpass',
                         db='test',
                         charset='utf8mb4',
                         cursorclass=pymysql.cursors.DictCursor)

try:
    with testcon.cursor() as cursor:
        sql = "DROP TABLE users"
        cursor.execute(sql)
        
        testcon.commit()
finally:
    testcon.close()

Exact exception error and fix for 1.2.x unknown. Wrong ORM tutorial used.
# [ORM TUTORIAL](http://docs.sqlalchemy.org/en/rel_1_1/orm/tutorial.html) SQLAlchemy 1.1.x

In [1]:
>>> import sqlalchemy
>>> sqlalchemy.__version__

'1.1.4'

## Connecting

In [2]:
>>> from sqlalchemy import create_engine
>>> engine = create_engine('sqlite:///:memory:', echo=True)

**NOTE**: Accessing db 'test' and have dropped any existing 'users' table prior

## Declare a Mapping

In [3]:
>>> from sqlalchemy.ext.declarative import declarative_base

>>> Base = declarative_base()

In [4]:
>>> from sqlalchemy import Column, Integer, String
>>> class User(Base):
...     __tablename__ = 'users'
...
...     id = Column(Integer, primary_key=True)
...     name = Column(String)
...     fullname = Column(String)
...     password = Column(String)
...
...     def __repr__(self):
...        return "<User(name='%s', fullname='%s', password='%s')>" % (
...                             self.name, self.fullname, self.password)

## Creating a Schema

In [5]:
>>> User.__table__

Table('users', MetaData(bind=None), Column('id', Integer(), table=<users>, primary_key=True, nullable=False), Column('name', String(), table=<users>), Column('fullname', String(), table=<users>), Column('password', String(), table=<users>), schema=None)

In [6]:
>>> Base.metadata.create_all(engine)

2017-03-21 12:25:09,475 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2017-03-21 12:25:09,476 INFO sqlalchemy.engine.base.Engine ()
2017-03-21 12:25:09,476 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2017-03-21 12:25:09,476 INFO sqlalchemy.engine.base.Engine ()
2017-03-21 12:25:09,476 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("users")
2017-03-21 12:25:09,476 INFO sqlalchemy.engine.base.Engine ()
2017-03-21 12:25:09,478 INFO sqlalchemy.engine.base.Engine
CREATE TABLE users (
	id INTEGER NOT NULL,
	name VARCHAR,
	fullname VARCHAR,
	password VARCHAR,
	PRIMARY KEY (id)
)


2017-03-21 12:25:09,479 INFO sqlalchemy.engine.base.Engine ()
2017-03-21 12:25:09,480 INFO sqlalchemy.engine.base.Engine COMMIT

Statements issued by `metadata`
Prior: 'test' accessed via MySQL CLI, 'users' table dropped from db
```
2017-03-16 14:03:29,952 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2017-03-16 14:03:29,953 INFO sqlalchemy.engine.base.Engine ()
2017-03-16 14:03:29,954 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2017-03-16 14:03:29,955 INFO sqlalchemy.engine.base.Engine ()
2017-03-16 14:03:29,956 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("users")
2017-03-16 14:03:29,957 INFO sqlalchemy.engine.base.Engine ()
2017-03-16 14:03:29,959 INFO sqlalchemy.engine.base.Engine 
CREATE TABLE users (
	id INTEGER NOT NULL, 
	name VARCHAR, 
	fullname VARCHAR, 
	password VARCHAR, 
	PRIMARY KEY (id)
)


2017-03-16 14:03:29,960 INFO sqlalchemy.engine.base.Engine ()
2017-03-16 14:03:29,961 INFO sqlalchemy.engine.base.Engine COMMIT
```

## Creating Instance of Mapped Class

In [7]:
>>> ed_user = User(name='ed', fullname='Ed Jones', password='edspassword')
>>> ed_user.name

'ed'

In [8]:
>>> ed_user.password

'edspassword'

In [9]:
>>> str(ed_user.id)

'None'

## Creating a Session

In [10]:
>>> from sqlalchemy.orm import sessionmaker
>>> Session = sessionmaker(bind=engine)

In [11]:
# instantiating a Session
>>> session = Session()

## Adding + Updating

In [12]:
>>> ed_user = User(name='ed', fullname='Ed Jones', password='edspassword')
>>> session.add(ed_user)

In [13]:
>>> our_user = session.query(User).filter_by(name='ed').first() # doctest:+NORMALIZE_WHITESPACE
>>> our_user

2017-03-21 12:25:16,863 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-03-21 12:25:16,863 INFO sqlalchemy.engine.base.Engine INSERT INTO users (name, fullname, password) VALUES (?, ?, ?)
2017-03-21 12:25:16,863 INFO sqlalchemy.engine.base.Engine ('ed', 'Ed Jones', 'edspassword')
2017-03-21 12:25:16,863 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname, users.password AS users_password
FROM users
WHERE users.name = ?
 LIMIT ? OFFSET ?
2017-03-21 12:25:16,863 INFO sqlalchemy.engine.base.Engine ('ed', 1, 0)

In [14]:
>>> ed_user is our_user

True

In [15]:
>>> session.add_all([
...     User(name='wendy', fullname='Wendy Williams', password='foobar'),
...     User(name='mary', fullname='Mary Contrary', password='xxg527'),
...     User(name='fred', fullname='Fred Flinstone', password='blah')])

In [16]:
>>> ed_user.password = 'f8s7ccs'

`Session` tracks changes

In [17]:
>>> session.dirty

IdentitySet([<User(name='ed', fullname='Ed Jones', password='f8s7ccs')>])

In [18]:
>>> session.new  # doctest: +SKIP

IdentitySet([<User(name='wendy', fullname='Wendy Williams', password='foobar')>, <User(name='mary', fullname='Mary Contrary', password='xxg527')>, <User(name='fred', fullname='Fred Flinstone', password='blah')>])

In [19]:
>>> session.commit()

2017-03-21 12:25:23,706 INFO sqlalchemy.engine.base.Engine UPDATE users SET password=? WHERE users.id = ?
2017-03-21 12:25:23,706 INFO sqlalchemy.engine.base.Engine ('f8s7ccs', 1)
2017-03-21 12:25:23,706 INFO sqlalchemy.engine.base.Engine INSERT INTO users (name, fullname, password) VALUES (?, ?, ?)
2017-03-21 12:25:23,706 INFO sqlalchemy.engine.base.Engine ('wendy', 'Wendy Williams', 'foobar')
2017-03-21 12:25:23,706 INFO sqlalchemy.engine.base.Engine INSERT INTO users (name, fullname, password) VALUES (?, ?, ?)
2017-03-21 12:25:23,706 INFO sqlalchemy.engine.base.Engine ('mary', 'Mary Contrary', 'xxg527')
2017-03-21 12:25:23,707 INFO sqlalchemy.engine.base.Engine INSERT INTO users (name, fullname, password) VALUES (?, ?, ?)
2017-03-21 12:25:23,707 INFO sqlalchemy.engine.base.Engine ('fred', 'Fred Flinstone', 'blah')
2017-03-21 12:25:23,707 INFO sqlalchemy.engine.base.Engine COMMIT

In [20]:
>>> ed_user.id # doctest: +NORMALIZE_WHITESPACE
# after commits, generated identifiers and db generated defaults are availible on the instance

2017-03-21 12:25:24,558 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-03-21 12:25:24,558 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname, users.password AS users_password
FROM users
WHERE users.id = ?
2017-03-21 12:25:24,558 INFO sqlalchemy.engine.base.Engine (1,)

1

## Rolling Back

In [21]:
>>> ed_user.name = 'Edwardo'

In [22]:
>>> fake_user = User(name='fakeuser', fullname='Invalid', password='12345')
>>> session.add(fake_user)

In [23]:
>>> session.rollback() # reverts to previous state; last commit

2017-03-21 12:33:54,925 INFO sqlalchemy.engine.base.Engine ROLLBACK

In [24]:
>>> ed_user.name

2017-03-21 12:33:57,729 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-03-21 12:33:57,730 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname, users.password AS users_password
FROM users
WHERE users.id = ?
2017-03-21 12:33:57,730 INFO sqlalchemy.engine.base.Engine (1,)

'ed'

In [25]:
>>> fake_user in session

False

In [28]:
>>> session.query(User).filter(User.name.in_(['ed', 'fakeuser'])).all()
# query showing changes to db

2017-03-21 12:44:40,753 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname, users.password AS users_password
FROM users
WHERE users.name IN (?, ?)
2017-03-21 12:44:40,753 INFO sqlalchemy.engine.base.Engine ('ed', 'fakeuser')

## Querying

In [27]:
# passing SQL commands, creating query obj
>>> for instance in session.query(User).order_by(User.id):
...     print(instance.name, instance.fullname)

2017-03-21 12:41:07,485 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname, users.password AS users_password
FROM users ORDER BY users.id
2017-03-21 12:41:07,486 INFO sqlalchemy.engine.base.Engine ()
ed Ed Jones
wendy Wendy Williams
mary Mary Contrary
fred Fred Flinstone

In [29]:
# also take ORM descriptors as args
>>> for name, fullname in session.query(User.name, User.fullname):
...     print(name, fullname)

2017-03-21 13:02:24,615 INFO sqlalchemy.engine.base.Engine SELECT users.name AS users_name, users.fullname AS users_fullname
FROM users
2017-03-21 13:02:24,615 INFO sqlalchemy.engine.base.Engine ()
ed Ed Jones
wendy Wendy Williams
mary Mary Contrary
fred Fred Flinstone

In [30]:
>>> for row in session.query(User, User.name).all():
...    print(row.User, row.name)
# returns 'named tuples'

2017-03-21 13:36:11,963 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname, users.password AS users_password
FROM users
2017-03-21 13:36:11,963 INFO sqlalchemy.engine.base.Engine ()
<User(name='ed', fullname='Ed Jones', password='f8s7ccs')> ed
<User(name='wendy', fullname='Wendy Williams', password='foobar')> wendy
<User(name='mary', fullname='Mary Contrary', password='xxg527')> mary
<User(name='fred', fullname='Fred Flinstone', password='blah')> fred

In [31]:
>>> for row in session.query(User.name.label('name_label')).all():
...    print(row.name_label)

2017-03-21 13:52:54,050 INFO sqlalchemy.engine.base.Engine SELECT users.name AS name_label
FROM users
2017-03-21 13:52:54,050 INFO sqlalchemy.engine.base.Engine ()
ed
wendy
mary
fred

Don't quite understand what label does...something along the lines of labeling the queried column as the mapped values(?)
[`label()`](http://docs.sqlalchemy.org/en/rel_1_1/core/sqlelement.html#sqlalchemy.sql.expression.label)

In [33]:
>>> from sqlalchemy.orm import aliased
>>> user_alias = aliased(User, name='user_alias') # setting values of user_alias

>>> for row in session.query(user_alias, user_alias.name).all():
...    print(row.user_alias)

2017-03-21 15:53:06,478 INFO sqlalchemy.engine.base.Engine SELECT user_alias.id AS user_alias_id, user_alias.name AS user_alias_name, user_alias.fullname AS user_alias_fullname, user_alias.password AS user_alias_password
FROM users AS user_alias
2017-03-21 15:53:06,480 INFO sqlalchemy.engine.base.Engine ()
<User(name='ed', fullname='Ed Jones', password='f8s7ccs')>
<User(name='wendy', fullname='Wendy Williams', password='foobar')>
<User(name='mary', fullname='Mary Contrary', password='xxg527')>
<User(name='fred', fullname='Fred Flinstone', password='blah')>

Comparing two seemingly similar commands and use of [`aliased()`](http://docs.sqlalchemy.org/en/rel_1_1/orm/query.html#sqlalchemy.orm.aliased):

**`aliased()`**: Maps a mapped class to new selectable

| `aliased()` | without `aliased()`|
| ----- | ----- |
| `>>> from sqlalchemy.orm import aliased` |  |
| `>>> user_alias = aliased(User, name='user_alias') ` |   |
| `>>> for row in session.query(user_alias, user_alias.name).all():` | ` >>> for row in session.query(User, User.name).all():` |
| `...    print(row.user_alias)` | `...    print(row.User, row.name)` |
| `<User(name='ed', fullname='Ed Jones', password='f8s7ccs')> ` | `<User(name='ed', fullname='Ed Jones', password='f8s7ccs')> ed` |

*note*
when given `list[x:y]` the items, starting and the xth item up until--but not including--the yth item are selected

## MySQL + PyMySQL
- Have to check if PyMySQL compatible with 1.1.x [*notes*](http://docs.sqlalchemy.org/en/latest/changelog/migration_11.html)
  - it is [*notes*](http://docs.sqlalchemy.org/en/rel_1_1/dialects/mysql.html)

In [ ]:
import sqlalchemy
sqlalchemy.__version__

In [ ]:
from sqlalchemy import create_engine
engine = create_engine('mysql+pymysql://localhost:testpass@root/test', echo=True)

In [ ]:
from sql