In [1]:
# TO CLEAR DATABASE OF 'USERS' TABLE//NO NEED WHEN INITIALIZING DB IN MEMORY
import pymysql.cursors

testcon = pymysql.connect(host='localhost',
                         user='root',
                         password='testpass',
                         db='test',
                         charset='utf8mb4',
                         cursorclass=pymysql.cursors.DictCursor)

try:
    with testcon.cursor() as cursor:
        sql = "DROP TABLE users"
        cursor.execute(sql)
        
        testcon.commit()
finally:
    testcon.close()

InternalError: (1051, "Unknown table 'test.users'")

Exact exception error and fix for 1.2.x unknown. Wrong ORM tutorial used.
# [ORM TUTORIAL](http://docs.sqlalchemy.org/en/rel_1_1/orm/tutorial.html) SQLAlchemy 1.1.x

In [2]:
>>> import sqlalchemy
>>> sqlalchemy.__version__

'1.1.4'

## Connecting

In [3]:
>>> from sqlalchemy import create_engine
>>> engine = create_engine('sqlite:///:memory:', echo=True)

**NOTE**: Accessing db 'test' and have dropped any existing 'users' table prior

## Declare a Mapping

In [4]:
>>> from sqlalchemy.ext.declarative import declarative_base

>>> Base = declarative_base()

In [5]:
>>> from sqlalchemy import Column, Integer, String
>>> class User(Base):
...     __tablename__ = 'users'
...
...     id = Column(Integer, primary_key=True)
...     name = Column(String)
...     fullname = Column(String)
...     password = Column(String)
...
...     def __repr__(self):
...        return "<User(name='%s', fullname='%s', password='%s')>" % (
...                             self.name, self.fullname, self.password)

## Creating a Schema

In [6]:
>>> User.__table__

Table('users', MetaData(bind=None), Column('id', Integer(), table=<users>, primary_key=True, nullable=False), Column('name', String(), table=<users>), Column('fullname', String(), table=<users>), Column('password', String(), table=<users>), schema=None)

In [7]:
>>> Base.metadata.create_all(engine)

2017-03-22 12:01:53,608 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2017-03-22 12:01:53,608 INFO sqlalchemy.engine.base.Engine ()
2017-03-22 12:01:53,608 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2017-03-22 12:01:53,608 INFO sqlalchemy.engine.base.Engine ()
2017-03-22 12:01:53,608 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("users")
2017-03-22 12:01:53,608 INFO sqlalchemy.engine.base.Engine ()
2017-03-22 12:01:53,608 INFO sqlalchemy.engine.base.Engine
CREATE TABLE users (
	id INTEGER NOT NULL,
	name VARCHAR,
	fullname VARCHAR,
	password VARCHAR,
	PRIMARY KEY (id)
)


2017-03-22 12:01:53,609 INFO sqlalchemy.engine.base.Engine ()
2017-03-22 12:01:53,609 INFO sqlalchemy.engine.base.Engine COMMIT

Statements issued by `metadata`
Prior: 'test' accessed via MySQL CLI, 'users' table dropped from db
```
2017-03-16 14:03:29,952 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2017-03-16 14:03:29,953 INFO sqlalchemy.engine.base.Engine ()
2017-03-16 14:03:29,954 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2017-03-16 14:03:29,955 INFO sqlalchemy.engine.base.Engine ()
2017-03-16 14:03:29,956 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("users")
2017-03-16 14:03:29,957 INFO sqlalchemy.engine.base.Engine ()
2017-03-16 14:03:29,959 INFO sqlalchemy.engine.base.Engine 
CREATE TABLE users (
	id INTEGER NOT NULL, 
	name VARCHAR, 
	fullname VARCHAR, 
	password VARCHAR, 
	PRIMARY KEY (id)
)


2017-03-16 14:03:29,960 INFO sqlalchemy.engine.base.Engine ()
2017-03-16 14:03:29,961 INFO sqlalchemy.engine.base.Engine COMMIT
```

## Creating Instance of Mapped Class

In [8]:
>>> ed_user = User(name='ed', fullname='Ed Jones', password='edspassword')
>>> ed_user.name

'ed'

In [9]:
>>> ed_user.password

'edspassword'

In [10]:
>>> str(ed_user.id)

'None'

## Creating a Session

In [11]:
>>> from sqlalchemy.orm import sessionmaker
>>> Session = sessionmaker(bind=engine)

In [12]:
# instantiating a Session
>>> session = Session()

## Adding + Updating

In [13]:
>>> ed_user = User(name='ed', fullname='Ed Jones', password='edspassword')
>>> session.add(ed_user)

In [14]:
>>> our_user = session.query(User).filter_by(name='ed').first() # doctest:+NORMALIZE_WHITESPACE
>>> our_user

2017-03-22 12:01:59,886 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-03-22 12:01:59,886 INFO sqlalchemy.engine.base.Engine INSERT INTO users (name, fullname, password) VALUES (?, ?, ?)
2017-03-22 12:01:59,886 INFO sqlalchemy.engine.base.Engine ('ed', 'Ed Jones', 'edspassword')
2017-03-22 12:01:59,886 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname, users.password AS users_password
FROM users
WHERE users.name = ?
 LIMIT ? OFFSET ?
2017-03-22 12:01:59,886 INFO sqlalchemy.engine.base.Engine ('ed', 1, 0)

In [14]:
>>> ed_user is our_user

True

In [15]:
>>> session.add_all([
...     User(name='wendy', fullname='Wendy Williams', password='foobar'),
...     User(name='mary', fullname='Mary Contrary', password='xxg527'),
...     User(name='fred', fullname='Fred Flinstone', password='blah')])

In [16]:
>>> ed_user.password = 'f8s7ccs'

`Session` tracks changes

In [17]:
>>> session.dirty

IdentitySet([<User(name='ed', fullname='Ed Jones', password='f8s7ccs')>])

In [18]:
>>> session.new  # doctest: +SKIP

IdentitySet([<User(name='wendy', fullname='Wendy Williams', password='foobar')>, <User(name='fred', fullname='Fred Flinstone', password='blah')>, <User(name='mary', fullname='Mary Contrary', password='xxg527')>])

In [19]:
>>> session.commit()

2017-03-22 12:02:06,779 INFO sqlalchemy.engine.base.Engine UPDATE users SET password=? WHERE users.id = ?
2017-03-22 12:02:06,779 INFO sqlalchemy.engine.base.Engine ('f8s7ccs', 1)
2017-03-22 12:02:06,779 INFO sqlalchemy.engine.base.Engine INSERT INTO users (name, fullname, password) VALUES (?, ?, ?)
2017-03-22 12:02:06,779 INFO sqlalchemy.engine.base.Engine ('wendy', 'Wendy Williams', 'foobar')
2017-03-22 12:02:06,780 INFO sqlalchemy.engine.base.Engine INSERT INTO users (name, fullname, password) VALUES (?, ?, ?)
2017-03-22 12:02:06,780 INFO sqlalchemy.engine.base.Engine ('mary', 'Mary Contrary', 'xxg527')
2017-03-22 12:02:06,780 INFO sqlalchemy.engine.base.Engine INSERT INTO users (name, fullname, password) VALUES (?, ?, ?)
2017-03-22 12:02:06,780 INFO sqlalchemy.engine.base.Engine ('fred', 'Fred Flinstone', 'blah')
2017-03-22 12:02:06,780 INFO sqlalchemy.engine.base.Engine COMMIT

In [20]:
>>> ed_user.id # doctest: +NORMALIZE_WHITESPACE
# after commits, generated identifiers and db generated defaults are availible on the instance

2017-03-22 12:02:09,874 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-03-22 12:02:09,874 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname, users.password AS users_password
FROM users
WHERE users.id = ?
2017-03-22 12:02:09,874 INFO sqlalchemy.engine.base.Engine (1,)

1

## Rolling Back

In [21]:
>>> ed_user.name = 'Edwardo'

In [22]:
>>> fake_user = User(name='fakeuser', fullname='Invalid', password='12345')
>>> session.add(fake_user)

In [23]:
>>> session.rollback() # reverts to previous state; last commit

2017-03-22 12:02:11,706 INFO sqlalchemy.engine.base.Engine ROLLBACK

In [24]:
>>> ed_user.name

2017-03-22 12:02:13,659 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-03-22 12:02:13,659 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname, users.password AS users_password
FROM users
WHERE users.id = ?
2017-03-22 12:02:13,659 INFO sqlalchemy.engine.base.Engine (1,)

'ed'

In [25]:
>>> fake_user in session

False

In [26]:
>>> session.query(User).filter(User.name.in_(['ed', 'fakeuser'])).all()
# query showing changes to db

2017-03-22 12:02:15,003 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname, users.password AS users_password
FROM users
WHERE users.name IN (?, ?)
2017-03-22 12:02:15,004 INFO sqlalchemy.engine.base.Engine ('ed', 'fakeuser')

## Querying

In [27]:
# passing SQL commands, creating query obj
>>> for instance in session.query(User).order_by(User.id):
...     print(instance.name, instance.fullname)

2017-03-22 12:02:19,868 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname, users.password AS users_password
FROM users ORDER BY users.id
2017-03-22 12:02:19,868 INFO sqlalchemy.engine.base.Engine ()
ed Ed Jones
wendy Wendy Williams
mary Mary Contrary
fred Fred Flinstone

In [28]:
# also take ORM descriptors as args
>>> for name, fullname in session.query(User.name, User.fullname):
...     print(name, fullname)

2017-03-22 12:02:20,269 INFO sqlalchemy.engine.base.Engine SELECT users.name AS users_name, users.fullname AS users_fullname
FROM users
2017-03-22 12:02:20,269 INFO sqlalchemy.engine.base.Engine ()
ed Ed Jones
wendy Wendy Williams
mary Mary Contrary
fred Fred Flinstone

In [29]:
>>> for row in session.query(User, User.name).all():
...    print(row.User, row.name)
# returns 'named tuples'

2017-03-22 12:02:21,042 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname, users.password AS users_password
FROM users
2017-03-22 12:02:21,042 INFO sqlalchemy.engine.base.Engine ()
<User(name='ed', fullname='Ed Jones', password='f8s7ccs')> ed
<User(name='wendy', fullname='Wendy Williams', password='foobar')> wendy
<User(name='mary', fullname='Mary Contrary', password='xxg527')> mary
<User(name='fred', fullname='Fred Flinstone', password='blah')> fred

In [30]:
>>> for row in session.query(User.name.label('name_label')).all():
...    print(row.name_label)

2017-03-22 12:02:22,121 INFO sqlalchemy.engine.base.Engine SELECT users.name AS name_label
FROM users
2017-03-22 12:02:22,121 INFO sqlalchemy.engine.base.Engine ()
ed
wendy
mary
fred

Don't quite understand what label does...something along the lines of labeling the queried column as the mapped values(?)
[`label()`](http://docs.sqlalchemy.org/en/rel_1_1/core/sqlelement.html#sqlalchemy.sql.expression.label)

In [31]:
>>> from sqlalchemy.orm import aliased
>>> user_alias = aliased(User, name='user_alias') # setting values of user_alias

>>> for row in session.query(user_alias, user_alias.name).all():
...    print(row.user_alias)

2017-03-22 12:02:24,822 INFO sqlalchemy.engine.base.Engine SELECT user_alias.id AS user_alias_id, user_alias.name AS user_alias_name, user_alias.fullname AS user_alias_fullname, user_alias.password AS user_alias_password
FROM users AS user_alias
2017-03-22 12:02:24,822 INFO sqlalchemy.engine.base.Engine ()
<User(name='ed', fullname='Ed Jones', password='f8s7ccs')>
<User(name='wendy', fullname='Wendy Williams', password='foobar')>
<User(name='mary', fullname='Mary Contrary', password='xxg527')>
<User(name='fred', fullname='Fred Flinstone', password='blah')>

Comparing two seemingly similar commands and use of [`aliased()`](http://docs.sqlalchemy.org/en/rel_1_1/orm/query.html#sqlalchemy.orm.aliased):

**`aliased()`**: Maps a mapped class to new selectable

| `aliased()` | without `aliased()`|
| ----- | ----- |
| `>>> from sqlalchemy.orm import aliased` |  |
| `>>> user_alias = aliased(User, name='user_alias') ` |   |
| `>>> for row in session.query(user_alias, user_alias.name).all():` | ` >>> for row in session.query(User, User.name).all():` |
| `...    print(row.user_alias)` | `...    print(row.User, row.name)` |
| `<User(name='ed', fullname='Ed Jones', password='f8s7ccs')> ` | `<User(name='ed', fullname='Ed Jones', password='f8s7ccs')> ed` |

*note*
when given `list[x:y]` the items, starting and the xth item up until--but not including--the yth item are selected

In [32]:
>>> for u in session.query(User).order_by(User.id)[1:3]:
...    print(u)

2017-03-22 12:05:24,032 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname, users.password AS users_password
FROM users ORDER BY users.id
 LIMIT ? OFFSET ?
2017-03-22 12:05:24,032 INFO sqlalchemy.engine.base.Engine (2, 1)
<User(name='wendy', fullname='Wendy Williams', password='foobar')>
<User(name='mary', fullname='Mary Contrary', password='xxg527')>

In [33]:
>>> for name, in session.query(User.name).\
...             filter_by(fullname='Ed Jones'):
...    print(name)

2017-03-22 12:20:06,104 INFO sqlalchemy.engine.base.Engine SELECT users.name AS users_name
FROM users
WHERE users.fullname = ?
2017-03-22 12:20:06,104 INFO sqlalchemy.engine.base.Engine ('Ed Jones',)
ed

In [34]:
>>> for name, in session.query(User.name).\
...             filter(User.fullname=='Ed Jones'):
...    print(name)

2017-03-22 12:20:39,159 INFO sqlalchemy.engine.base.Engine SELECT users.name AS users_name
FROM users
WHERE users.fullname = ?
2017-03-22 12:20:39,159 INFO sqlalchemy.engine.base.Engine ('Ed Jones',)
ed

`filter_by()` | `filter()`
--- | ---
Allows filtering by keyword arguments | Allows filtering with Python operators used on class attributes of mapped class

#### Note:
> The `Query` object is fully generative, meaning that most method calls return a new `Query` object upon which further criteria may be added. For example, to query for users named “ed” with a full name of “Ed Jones”, you can call `filter()` twice, which joins criteria using `AND`:

Also, note the use of the backslash (** \ **) below, explanation [here](https://docs.python.org/3.5/reference/lexical_analysis.html):

In [35]:
>>> for user in session.query(User).\
...          filter(User.name=='ed').\
...          filter(User.fullname=='Ed Jones'):
...    print(user)

2017-03-22 12:28:17,621 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname, users.password AS users_password
FROM users
WHERE users.name = ? AND users.fullname = ?
2017-03-22 12:28:17,621 INFO sqlalchemy.engine.base.Engine ('ed', 'Ed Jones')
<User(name='ed', fullname='Ed Jones', password='f8s7ccs')>

## Common Filter Operators
used with `filter()`

- `equals`:
```python
query.filter(User.name == 'ed')
```
- `not equals`:
```python
query.filter(User.name != 'ed')
```
- `LIKE`:
```python
query.filter(User.name.like('%ed%'))
```
#### Notes
> `ColumnOperators.like()` renders the `LIKE` operator, which is case insensitive on some backends, and case sensitive on others. For guaranteed case-insensitive comparisons, use `ColumnOperators.ilike()`.
- `ILIKE` (case-insensitive LIKE):
```python
query.filter(User.name.ilike('%ed%'))
```
#### Notes
> most backends don’t support `ILIKE` directly. For those, the `ColumnOperators.ilike()` operator renders an expression combining `LIKE` with the `LOWER SQL` function applied to each operand.

- `IN`  
```python  
query.filter(User.name.in_(['ed', 'wendy', 'jack']))
# works with query objects too:
```
```
query.filter(User.name.in_(
    session.query(User.name).filter(User.name.like('%ed%'))
))
```

- `NOT IN`
```python
query.filter(~User.name.in_(['ed', 'wendy', 'jack']))
```
- `IS NULL`
```python
query.filter(User.name == None)
``` 
```
# alternatively, if pep8/linters are a concern
query.filter(User.name.is_(None))
```
  *note*: **lint** is syntax error type stuff and general errors (?) *google it*
  
- `IS NOT NULL`
```python
query.filter(User.name != None)

# alternatively, if pep8/linters are a concern
query.filter(User.name.isnot(None))
```
- `AND`
```python
# use and_()
from sqlalchemy import and_
query.filter(and_(User.name == 'ed', User.fullname == 'Ed Jones'))

# or send multiple expressions to .filter()
query.filter(User.name == 'ed', User.fullname == 'Ed Jones')

# or chain multiple filter()/filter_by() calls
query.filter(User.name == 'ed').filter(User.fullname == 'Ed Jones')
```
be careful to use **`and_()`**, which contains and underscore (as opposed to using logical *`and`*)
- `OR`
```python
from sqlalchemy import or_
query.filter(or_(User.name == 'ed', User.name == 'wendy'))
```
- `MATCH`
```python

```

**`AND, OR, MATCH`**: BE SURE TO USER CALL THE FUNCTION WITH AN UNDERSCORE *NOT* THE PYTHON OPERATOR


## Returning Lists and Scalars

## MySQL + PyMySQL
- Have to check if PyMySQL compatible with 1.1.x [*notes*](http://docs.sqlalchemy.org/en/latest/changelog/migration_11.html)
  - it is [*notes*](http://docs.sqlalchemy.org/en/rel_1_1/dialects/mysql.html)

In [ ]:
import sqlalchemy
sqlalchemy.__version__

In [ ]:
from sqlalchemy import create_engine
engine = create_engine('mysql+pymysql://localhost:testpass@root/test', echo=True)

In [ ]:
from sql