In [14]:
# TO CLEAR DATABASE OF 'USERS' TABLE
import pymysql.cursors

testcon = pymysql.connect(host='localhost',
                         user='root',
                         password='testpass',
                         db='test',
                         charset='utf8mb4',
                         cursorclass=pymysql.cursors.DictCursor)

try:
    with testcon.cursor() as cursor:
        sql = "DROP TABLE users"
        cursor.execute(sql)
        
        testcon.commit()
finally:
    testcon.close()

Exact exception error and fix for 1.2.x unknown. Wrong ORM tutorial used.
# [ORM TUTORIAL](http://docs.sqlalchemy.org/en/rel_1_1/orm/tutorial.html) SQLAlchemy 1.1.x

In [1]:
>>> import sqlalchemy
>>> sqlalchemy.__version__

'1.1.4'

## Connecting

In [15]:
>>> from sqlalchemy import create_engine
>>> engine = create_engine('sqlite:///:memory:', echo=True)

**NOTE**: Accessing db 'test' and have dropped any existing 'users' table prior

## Declare a Mapping

In [16]:
>>> from sqlalchemy.ext.declarative import declarative_base

>>> Base = declarative_base()

In [17]:
>>> from sqlalchemy import Column, Integer, String
>>> class User(Base):
...     __tablename__ = 'users'
...
...     id = Column(Integer, primary_key=True)
...     name = Column(String)
...     fullname = Column(String)
...     password = Column(String)
...
...     def __repr__(self):
...        return "<User(name='%s', fullname='%s', password='%s')>" % (
...                             self.name, self.fullname, self.password)

## Creating a Schema

In [18]:
>>> User.__table__

Table('users', MetaData(bind=None), Column('id', Integer(), table=<users>, primary_key=True, nullable=False), Column('name', String(), table=<users>), Column('fullname', String(), table=<users>), Column('password', String(), table=<users>), schema=None)

In [19]:
>>> Base.metadata.create_all(engine)

2017-03-16 14:46:51,737 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2017-03-16 14:46:51,740 INFO sqlalchemy.engine.base.Engine ()
2017-03-16 14:46:51,745 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2017-03-16 14:46:51,748 INFO sqlalchemy.engine.base.Engine ()
2017-03-16 14:46:51,751 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("users")
2017-03-16 14:46:51,754 INFO sqlalchemy.engine.base.Engine ()
2017-03-16 14:46:51,760 INFO sqlalchemy.engine.base.Engine
CREATE TABLE users (
	id INTEGER NOT NULL,
	name VARCHAR,
	fullname VARCHAR,
	password VARCHAR,
	PRIMARY KEY (id)
)


2017-03-16 14:46:51,762 INFO sqlalchemy.engine.base.Engine ()
2017-03-16 14:46:51,765 INFO sqlalchemy.engine.base.Engine COMMIT

Statements issued by `metadata`
Prior: 'test' accessed via MySQL CLI, 'users' table dropped from db
```
2017-03-16 14:03:29,952 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2017-03-16 14:03:29,953 INFO sqlalchemy.engine.base.Engine ()
2017-03-16 14:03:29,954 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2017-03-16 14:03:29,955 INFO sqlalchemy.engine.base.Engine ()
2017-03-16 14:03:29,956 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("users")
2017-03-16 14:03:29,957 INFO sqlalchemy.engine.base.Engine ()
2017-03-16 14:03:29,959 INFO sqlalchemy.engine.base.Engine 
CREATE TABLE users (
	id INTEGER NOT NULL, 
	name VARCHAR, 
	fullname VARCHAR, 
	password VARCHAR, 
	PRIMARY KEY (id)
)


2017-03-16 14:03:29,960 INFO sqlalchemy.engine.base.Engine ()
2017-03-16 14:03:29,961 INFO sqlalchemy.engine.base.Engine COMMIT
```

## Creating Instance of Mapped Class

In [20]:
>>> ed_user = User(name='ed', fullname='Ed Jones', password='edspassword')
>>> ed_user.name

'ed'

In [21]:
>>> ed_user.password

'edspassword'

In [22]:
>>> str(ed_user.id)

'None'

## Creating a Session

In [23]:
>>> from sqlalchemy.orm import sessionmaker
>>> Session = sessionmaker(bind=engine)

In [28]:
# instantiating a Session
>>> session = Session()

## Adding + Updating

In [32]:
>>> ed_user = User(name='ed', fullname='Ed Jones', password='edspassword')
>>> session.add(ed_user)

In [33]:
>>> our_user = session.query(User).filter_by(name='ed').first() # doctest:+NORMALIZE_WHITESPACE
>>> our_user

2017-03-16 15:02:22,702 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-03-16 15:02:22,702 INFO sqlalchemy.engine.base.Engine INSERT INTO users (name, fullname, password) VALUES (?, ?, ?)
2017-03-16 15:02:22,702 INFO sqlalchemy.engine.base.Engine ('wendy', 'Wendy Williams', 'foobar')
2017-03-16 15:02:22,703 INFO sqlalchemy.engine.base.Engine INSERT INTO users (name, fullname, password) VALUES (?, ?, ?)
2017-03-16 15:02:22,704 INFO sqlalchemy.engine.base.Engine ('mary', 'Mary Contrary', 'xxg527')
2017-03-16 15:02:22,705 INFO sqlalchemy.engine.base.Engine INSERT INTO users (name, fullname, password) VALUES (?, ?, ?)
2017-03-16 15:02:22,705 INFO sqlalchemy.engine.base.Engine ('fred', 'Fred Flinstone', 'blah')
2017-03-16 15:02:22,706 INFO sqlalchemy.engine.base.Engine INSERT INTO users (name, fullname, password) VALUES (?, ?, ?)
2017-03-16 15:02:22,707 INFO sqlalchemy.engine.base.Engine ('ed', 'Ed Jones', 'edspassword')
2017-03-16 15:02:22,708 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname, users.password AS users_password
FROM users
WHERE users.name = ?
 LIMIT ? OFFSET ?
2017-03-16 15:02:22,709 INFO sqlalchemy.engine.base.Engine ('ed', 1, 0)

In [34]:
>>> ed_user is our_user

False

In [35]:
>>> session.add_all([
...     User(name='wendy', fullname='Wendy Williams', password='foobar'),
...     User(name='mary', fullname='Mary Contrary', password='xxg527'),
...     User(name='fred', fullname='Fred Flinstone', password='blah')])

In [36]:
>>> ed_user.password = 'f8s7ccs'

`Session` tracks changes

In [37]:
>>> session.dirty

IdentitySet([<User(name='ed', fullname='Ed Jones', password='f8s7ccs')>])

In [38]:
>>> session.new  # doctest: +SKIP

IdentitySet([<User(name='fred', fullname='Fred Flinstone', password='blah')>, <User(name='wendy', fullname='Wendy Williams', password='foobar')>, <User(name='mary', fullname='Mary Contrary', password='xxg527')>])

## MySQL + PyMySQL
- Have to check if PyMySQL compatible with 1.1.x [*notes*](http://docs.sqlalchemy.org/en/latest/changelog/migration_11.html)
  - it is [*notes*](http://docs.sqlalchemy.org/en/rel_1_1/dialects/mysql.html)

In [ ]:
import sqlalchemy
sqlalchemy.__version__

In [ ]:
from sqlalchemy import create_engine
engine = create_engine('mysql+pymysql://localhost:testpass@root/test', echo=True)

In [ ]:
from sql